<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header>
        <a href="index.html" id="logo">Backend - Moment 1</a>
        <!-- Meny knapp för att öppna mobilmenyn-->
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>

        <!-- navigering -->
        <nav id="nav-menu" aria-label=”huvudmeny” role="navigation">
            <!-- Knapp som visas om mobilmenyn är utfälld -->
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul>
                <li><a href="/">HEM</a></li>
                <li><a href="addcourse">LÄGG TILL KURS</a></li>
                <li><a href="about">OM</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Lista för att visa kurser -->
        <h2>Befintliga kurser</h2>
        <ul id="courseList">
            <% content.forEach(cont => { %>
                <li>
                    <strong>Kurskod:</strong> <%= cont.coursecode %><br>
                    <strong>Kursnamn:</strong> <%= cont.coursename %><br>
                    <strong>Progression:</strong> <%= cont.progression %><br>
                    <strong>Syllabus:</strong> <%= cont.syllabus %>
                    <form action="/deleteCourse" method="post" id="removeCourse">
                        <input type="hidden" name="courseId" value="<%= cont.courseid %>">
                        <button type="submit">Ta bort kurs</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </main>
    <script src="/js/scripts.js"></script>
</body>
</html>